.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

.countries--first{
 width: 63%;
 justify-content: flex-end;

}
.countries--second{

width:63%;

}

.countries--second >li {
  justify-content: space-around;
  margin: auto ;
  padding: 20px;


}
.countries--third{
  width:63%;
  flex-direction: column;
  justify-content: end;
}

.countries--fourth{
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 63%;

}